<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') -%>
  <body>
    <%- include('partials/header') -%>
    <main>
      <section>
        <h2>Arts</h2>
        <p>
          <a href="/arts/create">Create Art</a>
        </p>
        <table border="1">
          <thead>
            <thead>
              <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Catagory</th>
                <th>Image</th>
                <th>Action</th>
              </tr>
            </thead>
          </thead>
          <tbody>
            <% arts.forEach(({ id, title, catagory_id, image_path }) => { %>
            <tr>
              <td><%= id %></td>
              <td><%= title %></td>
              <td><%= catagory_id %></td>
              <td>
                <img src="/images/arts/<%= image_path %>" alt="" width="200" />
              </td>
              <td>
                <a href="/arts/update/<%= id %>">Update</a>
                <a href="/arts/delete/<%= id %>">Delete</a>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </section>
    </main>
  </body>
</html>
