<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') -%>
  <body>
    <%- include('partials/header') -%>
    <main>
      <section>
        <h2>Update Catagory</h2>
        <form
          action="/catagories/update/<%= catagory.id %>"
          method="post"
          enctype="multipart/form-data"
        >
          <div>
            <label for="name">Name:</label>
            <input
              type="text"
              id="name"
              name="name"
              value="<%= catagory.name %>"
              required
            />
          </div>
          <div>
            <label for="image">Image:</label>
            <input type="file" id="image" name="image" />
          </div>
          <div>
            <label for="description">Description:</label>
            <textarea id="description" name="description">
<%= catagory.description %></textarea
            >
          </div>
          <div>
            <button type="submit">Update</button>
          </div>
        </form>
      </section>
    </main>
  </body>
</html>
