<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') -%>
  <body>
    <%- include('partials/header') -%>
    <main>
      <section>
        <h2>Catagories</h2>
        <p>
          <a href="/catagories/create">Create catagory</a>
        </p>
        <table border="1">
          <thead>
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Image Path</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
            </thead>
          </thead>
          <tbody>
            <% catagories.forEach(({ id, name, image_path, description }) => {
            %>
            <tr>
              <td><%= id %></td>
              <td><%= name %></td>
              <td><%= image_path %></td>
              <td><%= description %></td>
              <td>
                <a href="/catagories/update/<%= id %>">Update</a>
                <a href="/catagories/delete/<%= id %>">Delete</a>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </section>
    </main>
  </body>
</html>
